
body{
	font-family:myriad pro;
}
h1{
	position:fixed;
	left:50%;
	top:50%;
	width:700px;
	margin: -280px 0 0 -420px;
	font-family:Myriad pro;
	font-size:40px;
	background: -webkit-linear-gradient(right, white 5%,grey);
	height:60px;
	padding:20px;
	line-height:60px;
}

#container{
	
}